
<footer class="footer py-4 js-page-footer">
  <div class="main">

    {%- assign _site_author = site.author -%}
    {%- if _site_author.type == 'organization' -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Organization' -%}
    {%- else -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Person' -%}
    {%- endif -%}

    <div itemscope itemtype="{{ _site_author_itemtype }}">
      <meta itemprop="name" content="{{ _site_author.name }}">
      {%- assign _site_author_url = _site_author.url | default: '/'-%}
      {%- include snippets/get-nav-url.html path=_site_author_url -%}
      {%- assign _site_author_url = __return -%}
      <meta itemprop="url" content="{{ _site_author_url }}">
      {%- if _site_author.bio -%}
        <meta itemprop="description" content="{{ _site_author.bio }}">
      {%- endif -%}
      <div class="footer__author-links">
        {%- include author-links.html author=_site_author -%}<a href="https://6sixfigures.com/" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">식스피겨</a>
        <a href="https://formyfinance.com/" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">포마이파이넨스</a>
        <a href="https://healthmaster.co.kr/" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">헬스마스터</a>
        <a href="https://newspics.co.kr/" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">뉴스픽스</a>
        <a href="https://gaseongbitem.com/" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">가성비템</a>
        <a href="https://aliexpresss.kr/" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">알리익스프레스</a>
        <a href="https://dapjidown.com/" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">답지다운</a>
        <a href="https://surls.kr/" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">surls.kr</a>
        <a href="https://m-y1.com/" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">m-y1.com</a>
        <a href="https://specialtem.co.kr/" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">specialtem.co.kr</a>
        <a href="https://ducktil93.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">ducktil93.github.io</a>
        <a href="https://nasalab1005.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">nasalab1005.github.io</a>
        <a href="https://selin100587.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">selin100587.github.io</a>
        <a href="https://sixfigure999999.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">sixfigure999999.github.io</a>
        <a href="https://nasacom1005.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">nasacom1005.github.io</a>
        <a href="https://texasusa1005.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">texasusa1005.github.io</a>
        <a href="https://ilsangview0.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">ilsangview0.github.io</a>
        <a href="https://tnsuas75007.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">tnsuas75007.github.io</a>
        <a href="https://blogmakers132.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">blogmakers132.github.io</a>
        <a href="https://marktailer644.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">marktailer644.github.io</a>
        <a href="https://darktemplerplus3.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">darktemplerplus3.github.io</a>
        <a href="https://techvit7.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">techvit7.github.io</a>
        <a href="https://moonbird1001.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">moonbird1001.github.io</a>
        <a href="https://billruntoyou.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">billruntoyou.github.io</a>
        <a href="https://forkidsmaker1005.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">forkidsmaker1005.github.io</a>
        <a href="https://selena7942.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">selena7942.github.io</a>
        <a href="https://bcdcompany23.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">bcdcompany23.github.io</a>
        <a href="https://jerkyllio.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">jerkyllio.github.io</a>
        <a href="https://ara87won.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">ara87won.github.io</a>
        <a href="https://ducktil93.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">ducktil93.github.io</a>
        <a href="https://dreamfastball.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">dreamfastball.github.io</a>
        <a href="https://emilyjohn199964.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">emilyjohn199964.github.io</a>
        <a href="https://clientmaster23.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">clientmaster23.github.io</a>
        <a href="https://drseoauto.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">drseoauto.github.io</a>
        <a href="https://seobaksa1004.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">seobaksa1004.github.io</a>
        <a href="https://newtypesolution1.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">newtypesolution1.github.io</a>
        <a href="https://rosemari9642.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">rosemari9642.github.io</a>
        <a href="https://noah2wilson3.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">Noah2Wilson3.github.io</a>
        <a href="https://sophia4martinez.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">Noah2Wilson3.github.io</a>
        <a href="https://william3brown12.github.io" target="_blank" rel="noreferrer noopener" style="color:#f2f2f2; text-decoration:none;">Noah2Wilson3.github.io</a>
      </div>
    </div>
    {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
    {%- assign _locale_copyright_dates = __return -%}
    <div class="site-info mt-2">
      <div>
        {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
        {%- assign _locale_copyright_dates = __return -%}
        © {{ site.title }} {{ _locale_copyright_dates }},
        Powered by Jekyll& TeXt Theme.
        contact email: sixfigure999999@gmail.com
      </div>
    </div>
  </div>
</footer>
